/* CSS declarations go here */

.page-editor-link
{
	cursor: pointer;
}
.page-editor-link:hover
{
	color:#333333;
}
.page-editor{
}
.page-editor-collapsed .page-editor
{
	display: none;
}
.page-editor
{
	overflow-y: hidden;
}
.page-editor .wysiwy-editor-wrapper
{
}
.page-editor .wysiwy-editor-wrapper .wysihtml5-editor
{
	border:1px solid black;
}
.wysihtml5-editor:focus{
	outline: none;
}
.toolbar-dialog{
	position: absolute;
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px 4px;
	z-index: 999;
}
.navbar {
	
	margin-top: 20px;
}
.wysiwyg-color-red{
	color:red;
}
.wysiwyg-color-green{
	color:green;
}
.wysiwyg-color-blue{
	color:blue;
}
.wysiwyg-color-yellow{
	color:yellow;
}